{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}

        <div class="container d-flex justify-content-center">
            <div class="register-container">
                <h3 class="text-center mb-4">Login</h3>

                <!-- flash message -->
                <div class="mb-3" id="flash-messages" x-data="{ show: true }" x-show="show" x-init="setTimeout(() => show = false, 6000)" x-transition:leave.duration.500ms>
                    {% with messages = get_flashed_messages(with_categories=True) %}
                        {% if messages %}
                            <ul class="flashes">
                                {% for category, message in messages %}
                                    <li class="flash {{ category}}">{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                </div>


                <form action="{{ url_for('accounts.login_page') }}" method="POST">
                    {{ form.hidden_tag() }}
                     <!-- Full -->
                     <div class="mb-3">
                        <label for="name" class="form-label">Username</label>
                        {{ form.username (class='form-control', placeholder='Your Username')}}
                    </div>

                    <!-- error handler -->
                     {% for error in form.username.errors %}
                     <span style="color:red;">{{ error }}</span>
                     {% endfor %}

        
                    <!-- Password -->
                    <div class="mb-3" x-data="{ show: false }">
                        <label for="password" class="form-label">Password</label>
                        <div class="input-group">
                            {{ form.password (class='form-control', placeholder='Your Password', **{':type': "show ? 'text' : 'password'"}) }}
                            <button class="btn btn-primary" type="button" @click="show = !show" :title="show ? 'Hide Password' : 'Show Password'">
                                <i :class="show ? 'fa-regular fa-eye' : 'fa-regular fa-eye-slash'"></i>
                            </button>
                        </div>
                    </div>
                    <br>
                    <!-- Submit Button -->
                     {{ form.login (class="btn btn-primary w-100") }}
                </form>
            </div>
        </div>
        
        <div>
            <p style="text-align: center;">Don't have an account? <a href="{{ url_for('accounts.registration_page') }}" style="color: green;">Create Account</a></p>
        </div>
        
{% endblock %}